body{
    margin: 0px;
    padding: 0px;
}
div{
    font-family: 'Open Sans',sans-serif;
    
}
.container-header{
    height: 785px;
    width: 100%;
    background-image:url(img/Background-header.jpg);
    
    

}
span{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    max-width: 1000px;
    
}
.wrapper0{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    margin: 0px auto;
    height: 114px;
    width: 1200px;
    
    
}
.container-logo{
    padding: 67px 20px 0 55px;
    float: left;
    background: url(https://www.radmin-vpn.com/img/logo-03.png) left 62px no-repeat;
    text-decoration: none;
    
}

.container-text{
    display: flex;;
   justify-content: center;
   align-items: center;
   margin: 0px auto;
    height: 400px;
    width: 1200px;
    text-align: center;
   
    color: white;;
}
.container-h1{
    font-size: 64px;

}
.container-p{
    font-size: 42px;
    margin: -30px 0px 0px;
    font-weight: 100;
}
.button-under{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo-under{
    background: url(img/win10.png);
}
button{
    background: #3498db;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 43px ;
    border: 1px solid transparent ;
    text-decoration: none;
    margin-top: 90px;
}
.list{
   
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #fff;
    
}
.text1 , .text-1{
    
    list-style-type: none;
}
.text11{
    
    list-style-image:url(img/win10.png);
}
.text-11{
    color: white;
}
.link1{
    color: white;
    text-decoration: underline;
}
.list-2{
    color: #fff;
    text-align: center;
}
.container{
    height: 602px;
    width: 100%;
    padding: 40px 0px;
    margin: 0px 147px;
    max-width: 1200px;
}
.h1-container{
    margin: 40px 0px;
   margin-left: 150px;
    height: auto;
    width: auto;
    font-size: 48px;

}
.gallery{
    margin:  40px 0px 40px 70px;
    margin-top: -400px;
    max-width: 480px;
    width: 100%;
    float: right;

   
}
.p-container{
    font-size:  30px;
}
.img-light{
    margin-top: -435px;
    margin-left: 320px;
    float: right;
    display: block;
    position: absolute;
}
.img-dark{
    margin-top: -300px;
    margin-left: 320px;
    float: right;
    display: block;
    position: absolute;
}
.wrapper{
    height: 1000px;
    width: 100%;
    
    padding: 10px 0;
    background-color: #edf2f4;;
}
.blocks{
    margin: 0 147px;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 48px;
    margin: 40px 0px;

}
.icon1{
    background:url(img/icons6.png);
    width: 80px;
    height: 80px;
    margin: 15px 40px 0px 0px;
    display: inline-block;
}
.mb0{
    margin: 48px 0px 0px 120px;
    margin-top: -80px;
    font-size: 36px;
    color:#3498db;
}
.hBlock-1{
    margin-bottom: 50px;
}
.smalltext{
    padding-left: 120px;
    line-height: 40px;
    font-size: 24px;
    color: #222222;
    font-weight: 300;
}